
html, body {
	height: 100%;
	margin: 0;
	font-family: 'Biryani', 'open-sans', 'helvetica', 'sans';
	font-weight: 900;
	overflow: hidden;
}

#cardboard {
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	z-index: 100;
}
